body {
    margin: 0;
    background:#1F2937;
    font-family:Garamond, serif;
    text-align: center;
    max-width: 3000px;
    max-height: fit-content
}
#fline{
    margin-top:40px;
    color:white;
    font-size:80px;
}
#sline{
  font-size:80px;
  padding-top:-3px;
  color:#10B981;
}
#p1,#p2{
    width:500px;
    height: 40px;
    margin-top:6px;
    margin-right:10px;
    height:70px;
    background: #273549;
    border:none;
    color:#6EE7B7;
    border-radius: 6px;
    font-size:50px;
}
h3{
    color:#9CA3AF;
    font-size:40px;
   
}
button:hover {
        background-color: #064E3B;
        color:whitesmoke;
       font-weight: bold;

      }
    .genbut{
        background: #10B981;
        height:70px;
        border-radius: 6px;
        border:none;
        color:white;
        width:400px;
        margin-bottom: 40px;
        font-size: 40px;
        font-weight: bolder;
    }
    #line{
        color:#374151;
    }